*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("../img/city.png");
    background-repeat: no-repeat;
}

header {
    max-width: 1440px;
    height: auto;
    font-size: 20px;
    text-align: center;
}

.container {
    margin-top: 100px;
    display: inline-flex;
    border: 20px solid rgb(169, 169, 169, 0.8);
    border-radius: 2px;
}

.menu__points {
    display: flex;
}

.menu {
    width: 300px;
    padding: 10px;
    border: none;
}

.dropbtn {
    text-align: left;
    color: rgb(169, 169, 169, 0.8);
    background-color: #ffffff;
    border-right: 0.5px solid;
    position: relative;
}

.menu__arrow {
    height: 0;
    width: 0;
    border-top: 5px solid rgb(169, 169, 169, 0.8);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 45%;
    left: 90%;
}

.dropbtn:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.search {
    outline: none;
}

::placeholder {
    color: rgb(169, 169, 169, 0.8);
}

.sbm {
    color: #ffffff;
    background-color: rgb(86, 74, 167);
}

.sbm:hover {
    background-color: rgb(111, 34, 184);
    cursor: pointer;
}

.list__menu li {
    width: 300px;
    list-style: none;
    position: relative;
}

.list__menu a {
    color: rgb(169, 169, 169, 0.8);
    text-decoration: none;
    display: block;
}

.list__menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}

.list__menu li:hover > ul {
    display: block;
    background-color: gainsboro;
}

li li a {
    padding: 5px;
}

.content {
    max-width: 1440px;
    text-align: center;
    margin-top: 205px;
    padding-left: 5px;
}

.point {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    border: 0.1px solid black;
    transition: 0.5s;
    box-shadow: 0px 6px 6px 0px rgb(169, 169, 169);
}

.point + .point {
    margin-left: 5px;
}

.point:hover {
    transform: scale(1.2);
}

.pet {
    background-image: url("../img/dog.png");
}

.education {
    background-image: url("../img/t-shirt.png");
}

.clothes {
    background-image: url("../img/a__hat.png");
}

.property__sale {
    background-image: url("../img/house.png");
}

.phone {
    background-image: url("../img/phone.png");
}

.technique {
    background-image: url("../img/fridge.png");
}
.watch {
    background-image: url("../img/watch.png");
}

.news {
    background-image: url("../img/newsp.png");
}
